@import './variables.scss';

/* Principal Configuration */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

a {
  color: $white;
  cursor: pointer;
}

li {
  list-style: none;
}

html, body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #36393e;
  -webkit-user-select: none;
  overflow-y: hidden;
}
/*****/

section#mainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
}

section#wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Top bar functionnalities */
section#app {
  display: flex;
  width: 100vw;
  height: 100vh;

  section.title-bar {
    height: 40px;
    background-color: $black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    -webkit-app-region: drag;

    button {
      border: none;
      background: $black no-repeat;
      background-size: cover;
      width: 28px;
      height: 28px;
      margin-right: 6px;
      opacity: 0.6;
      transition: opacity 200ms;
      -webkit-app-region: no-drag;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }

    button.win-minimize { background-image: url(../../src/renderer/assets/size/minimize.svg); }
    button.win-maximize { background-image: url(../../src/renderer/assets/size/maximize.svg); }
    button.win-close    { background-image: url(../../src/renderer/assets/size/close.svg);    }
  }
}

// Modals
.modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999;

  .set {
    display: flex;
    flex-direction: row;
    background-color: transparent;

    // Server and User parameters
    .menu {
      display: flex;
      flex-direction: column;
      width: 210px;
      background-color: #282b30;
      border-right: solid #1C1E22 1px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;

      div.separator {
        height: 1px;
        margin: 3px 10px 0 15px;
        background-color: rgba(114, 118, 125, .3);
        width: 170px;
      }

      .title {
        padding: 20px 0;
        font-size: 12px;
        font-weight: 700;
        margin-left: 14px;
        color: #72767d;
        text-transform: uppercase;
      }

      .subtitle {
        padding: 20px 0;
        font-size: 11px;
        font-weight: 700;
        color: #72767d;
        text-transform: uppercase;
        margin-left: 14px;
      }

      .tab {
        padding: 12px 15px;
        font-size: 14px;
        background-color: #282b30;
        color: #b9bbbe;
        text-align: left;
        transition: all 200ms ease;

        &:hover {
          background-image: linear-gradient(to right, #2E3136 100%, #2e3130);
        }

        &:active {
          border-left: 2px solid #7289da;
          padding-left: 28px;
          background-image: linear-gradient(to right, #282b30 80%, #2e3136);
        }
      }
    }

    .content {
      .settings {
        flex: 1;
        color: #FFF;
        padding: 12px;
        height: 90%;
        overflow: auto;
      }

      // Auth & Register views
      .panel {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;

        h2 {
          margin-top: 25px;
          margin-bottom: 25px;
          color: #FFF;
          text-transform: uppercase;
          font-size: 18px;
        }

        form {
          display: flex;
          flex: 2;
          flex-direction: column;
          width: 70%;

          a {
            color: #888;
            margin-bottom: 12px;

            &:hover {
              color: #FFF;
            }
          }

          .form {
            background: #F0EEF0;
            -webkit-border-radius: 0.3em;
            border-radius: 0.3em;
            margin-bottom: 12px;

            input {
              border-radius: 0.3em;
              height: 40px;
              width: 100%;
            }
          }

          .special {
            height: 50px;
            width: 175px;

            label.file-select > div.select-button {
              padding: 1rem;
              color: #000;
              border-radius: .3rem;
              font-weight: bold;
              display: flex;
              flex-direction: row;
              cursor: pointer;
            }

            label.file-select > input[type="file"] {
              display: none;
            }

            label.file-select > div.select-button > span {
              margin-left: 15px;
            }
          }

          .authSwitch {
            color: #888;
            margin-top: 12px;
            font-size: 12px;
          }
        }
      }
    }
  }
}

// Library Grid and Friends Grids
.table-header {
  display: flex;
  border-bottom: 1px solid hsla(0, 0%, 100%, .1);
  flex-direction: row;
  padding: 15px 20px 10px;
  align-items: center;

  .table-header-col {
    color: hsla(0, 0%, 100%, .3);
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .025em;
    font-weight: 500;

    &.name {
      width: 200px;
    }

    &.serverStatus {
      width: 140px;
      margin-left: 20px;
    }

    &.common {
      width: 200px;
      margin-left: 20px;
    }
  }

  .separator {
    width: 18px;
    height: 1px;
    transform: rotate(90deg);
    background-color: hsla(0,0%,100%,.1);
  }
}

section.table-content {
  height: 766px;
  overflow: auto;

  img.avatar {
    height: 30px;
    width: 30px;
  }

  .table-line {
    height: 62px;
    display: flex;
    flex-direction: row;
    padding: 2px 12px 0 12px;
    font-weight: 500;
    font-size: 16px;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    &:hover {
      background-color: #414449;
      cursor: pointer;

      > .table-line-actions {
        visibility: visible;
        cursor: pointer;
      }

      > .table-line-name > .tag-name > span.tag {
        visibility: visible;
      }
    }

    .table-line-name {
      color: hsla(0, 0%, 100%, .6);
      display: flex;
      align-items: center;

      .avatar {
        background: url(https://cdn.discordapp.com/icons/85154866468487168/3c688e03576b5d129a527efc237ba24e.webp) no-repeat;
        background-size: 30px;
      }

      .tag-name {
        display: flex;
        align-items: center;
        width: 160px;

        span.tag {
          visibility: hidden;
          font-size: 12px;
          line-height: 16px;
          opacity: .6;
        }
      }
    }

    .table-line-common {
      display: flex;
      align-items: center;
      margin-left: 162px;

      .avatar-group {
        height: 30px;
        width: 30px;
        background-image: url(https://cdn.discordapp.com/icons/85154866468487168/3c688e03576b5d129a527efc237ba24e.webp);
        border-radius: 50%;
        background-size: 30px 30px;
      }
    }

    .table-line-actions {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      visibility: hidden;
    }

    .table-line-name,
    .table-line-status {
      display: flex;
      align-items: center;
    }

    .table-line-status {
      margin-left: 80px;
    }

    div.status {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: red;
      border-color: transparent;
    }
  }
}

// Avatar and Status
.avatar {
  position: relative;
  margin-right: 10px;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }

  img {
    border-radius: 50%;
  }

  div.status {
    position: absolute;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    top: 18px;
    left: 18px;
    border: solid #2e3136 2px;
    background-color: #FFF;
  }
}


// Title / subtitle inside modal
h2.titleSection {
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 7px;
}

h3.sec-title {
  font-weight: normal;
  font-size: 16px;
}

.information {
  color: #b9bbbe;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.information.label {
  color: hsla(210, 3%, 87%, .3);
}

.section-description {
  color: $grey;
  font-size: 14px;
  margin-top: 10px;
}

.checkbox {
  border-radius: 5px;
  background-color: rgba(32, 34, 37, .3);
  border: 1px solid $black;
  padding: 0.8em;
  margin: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
}

.fake-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  width: 25px;
  height: 25px;
  border: 1px solid $grey;
  border-radius: 5px;
  cursor: pointer;

  &:after {
    display: none;
    content: '';
  }
}

div.upload > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Account Settings modal */
section.somethinghere {
  margin-top: 20px;
}

section.chan:hover, section.chan:active, section.chan.router-link-active, section.room.router-link-active {
  background-color: rgba(79,84,92,.6);
}

.router-link-active span.color, .router-link-active svg {
  color: $white;
  opacity: 1!important;
}

/* SideBar */

section.global {
  width: 100%;
}

section.logo-group, #avatarView {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: 128px 128px;
  background: #7289da no-repeat 50%;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: -webkit-box-shadow .1s;
  transition: -webkit-box-shadow .1s;
  transition: box-shadow .1s;
}

section.upload-file {
  display: none;
  position: absolute;
  font-size: 12px;
  top: 40px;
  left: 9px;
}

section.logo-group > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}


// Input radio

input[type='radio'] {
  display: none;
}

input[type='radio']:checked ~ .checkbox {
  border-color: transparent;
}

input[type='radio']:checked ~ .checkbox.blue {
  background-color: #8c9eff;
}

input[type='radio']:checked ~ .checkbox.green {
  background-color: #43b581;
}

input[type='radio']:checked ~ .checkbox.orange {
  background-color: #f4a61a;
}

input[type='radio']:checked ~ .checkbox.red {
  background-color: #f04747;
}

input[type='radio']:checked ~ .checkbox .fake-checkbox {
  border: 1px solid transparent;
  background-color: $white;
}

input[type='radio']:checked ~ .checkbox.blue .fake-checkbox:after {
  border-color: #8c9eff;
}

input[type='radio']:checked ~ .checkbox.orange .fake-checkbox:after {
  border-color: #f4a61a;
}

input[type='radio']:checked ~ .checkbox.green .fake-checkbox:after {
  border-color: #43b581;
}

input[type='radio']:checked ~ .checkbox.red .fake-checkbox:after {
  border-color: #f04747;
}

input[type='radio']:checked ~ .checkbox .fake-checkbox:after {
  display: block;
  width: 25%;
  height: 50%;
  transform: rotate(45deg);
  border: solid;
  border-width: 0 3px 3px 0;
}

input[type='radio']:checked ~ .checkbox .sec-title, input[type='radio']:checked ~ .checkbox .section-description {
  color: white;
}

h3.weak     { color: #8c9eff;           }
h3.medium   { color: rgb(67, 181, 129); }
h3.hard     { color: rgb(250, 166, 26); }
h3.extreme  { color: rgb(240, 71, 71);  }


/* Invitation Member */
section#invit > section > section.listing {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

/* Tchat */
section.bar {
  height: 48px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 1.5px 0 rgba(0, 0, 0, .05), 0 2px 0 rgba(0, 0, 0, .05);
  position: relative;
}

section#tchat {
  display: flex;
  width: 100%;
  color: #FFF;
}

section#convers {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  section.onechat {
    margin: 20px;
    display: flex;
    border-bottom: 1px solid hsla(0, 0%, 100%, .06);
    padding-bottom: 15px;

    section.text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 95%;

      span.username {
        margin-bottom: 15px;
        margin-top: 8px;

        span.hours {
          color: hsla(0, 0%, 100%, .2);
          font-size: 0.75rem;
          letter-spacing: 0;
          font-weight: 400;
          text-transform: none;
          margin-left: 6px;
        }
      }

      p {
        width: 100%;
      }
    }
  }
}

/* Select */
section.opt {
  display: flex;
  flex-direction: column;

  select {
    background: rgba(0, 0, 0, .1);
    border: none;
    box-shadow: none;
    outline: none;
    border-radius: 3px;
    transition: border .15s ease;
    color: $white;
    height: 35px;
    font-size: 13px;
    margin-top: 10px;

    option {
      background: black;
      border: none;
      box-shadow: none;
      outline: none;
      border-radius: 3px;
      -webkit-transition: border .15s ease;
      color: $white;
    }
  }
}

/* Input */
input[type="text"], input[type="password"], input[type="email"] {
  color: #888;
  padding: 0.5em 2em 0.5em 1em;
  outline: none;
  background: none;
  border: none;
}

/* Checkbox */
section.param {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

li.param-content {
  padding: 15px 20px 15px 0;
  border-bottom: solid hsla(218, 5%, 47%, .3) 1px;
  font-size: 14px;
}

input.checkboxNone {
  display: none;
}

div.checkbox-green, div.checkbox-grey {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  width: 42px;
  height: 24px;
}

div.checkboxDiv {
  width: 100%;
  height: 100%;
  background: $grey;
  border-radius: 50px;
  position: relative;
}

label.labelCircle {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50px;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 5px;
  z-index: 1;
  left: 8px;
  background: $white;
}

div.checkbox-green > input[type=checkbox].checkboxNone:checked ~ div.checkboxDiv {
  background: rgb(67, 181, 129);
}

div.checkbox-grey > input[type=checkbox].checkboxNone:checked ~ div.checkboxDiv {
  background: #7289da;
}

input[type=checkbox].checkboxNone:checked ~ label {
  left: 20px;
}

/* Active tab & others~ */
.tab.is-active {
  border-left: 2px solid #7289da;
  border-radius: 0;
  padding-left: 28px;
  background-image: linear-gradient(to right, #2E3136 100%, #2e3130);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 300ms;
}

.fade-enter, .fade-leave-active {
  opacity: 0;
}

hr {
  border: solid hsla(218, 5%, 47%, .3) 1px;
  margin: 25px 0;
}

/* Button */
button {
  border: none;
  background-color: #C0C0C0;
  margin-right: 12px;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  color: #f1f5f6;
}

section.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 65px;
}

button.danger {
  background-color: #f36c6c;
  &:hover {
    background-color: #f04747;
  }
}

button.success {
  background-color: #43b581;
  &:hover {
    background-color: #3ca374;
  }
}

button.connect {
  background-color: #7289da;
  &:hover {
    background-color: #697ec4;
  }
}

button.action {
  height: 36px;
  width: 36px;
  background-color: #2f3136;

  &.revoke {
    padding: 0;

    &:hover {
      background-color: #DC4242;
    }
  }

  &.accept {
    padding: 0;

    &:hover {
      background-color: #4F545C;
    }
  }

  &.voice-call {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij4KICA8ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgPHBvbHlnb24gcG9pbnRzPSIwIDAgMjQgMCAyNCAyNCAwIDI0Ii8+CiAgICA8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNNy41LDEwLjUgQzguOTQsMTMuMzMgMTAuNjY5MTI4MSwxNS4wNSAxMy40OTkxMjgxLDE2LjUgTDE1LjQxLDE1LjE4IEMxNS42OCwxNC45MSAxNi4wOCwxNC44MiAxNi40MywxNC45NCBDMTcuNTUsMTUuMzEgMTguNzYsMTUuNTEgMjAsMTUuNTEgQzIwLjU1LDE1LjUxIDIxLDE1Ljk2IDIxLDE2LjUxIEwyMSwyMCBDMjEsMjAuNTUgMjAuNTUsMjEgMjAsMjEgQzEwLjYxLDIxIDIuNzkzOTk5MDcsMTMuNjQwNDQ0OSAzLDQgQzMuMDExNzQ5OTQsMy40NTAxMjU3MyAzLjQ1LDMgNCwzIEw3LjUsMyBDOC4wNSwzIDguNSwzLjQ1IDguNSw0IEM4LjUsNS4yNSA4LjcsNi40NSA5LjA3LDcuNTcgQzkuMTgsNy45MiA5LjEsOC4zMSA4LjgyLDguNTkgTDcuNSwxMC41IFoiLz4KICA8L2c+Cjwvc3ZnPgo=");
    background-repeat: no-repeat;
    background-position: 6px;

    &:hover {
      background-color: #4F545C;
    }
  }

  &.video-call {
    background-image: url('https://discordapp.com/assets/f67374a8fd6b116362596d65cc516747.svg');
    background-repeat: no-repeat;
    background-position: 6px;

    &:hover {
      background-color: #4F545C;
    }
  }
}

/* Messages */
div.message {
  color: $white;
  margin-top: 5px;
}

span.color {
  font-size: 14px;
  color: #B9BBBE;
}

/* Status */
section.avatar, .actualStatus {
  div.status.online {
    background-color: #43b581;
  }
  div.status.idle {
    background-color: #faa61a;
  }
  div.status.busy {
    background-color: #f04747;
  }
  div.status.invisible {
    background-color: #747f8d;
  }
}

// Scrollbar
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track-piece {
  background-color: #2E3136;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #1e2124;
  background-clip: padding-box;
  border-color: #36393E;
  border-radius: 7px;
}
